@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lora&display=swap');

body, html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* background wrapper */
.about-top {
  width: 100%;
  background-image: url("./assets/about-me-gradient.svg");
  background-size: 100% 1200px; 
  background-repeat: no-repeat;
  background-position: center top;
  padding: 270px 20px; 
  display: flex;
  justify-content: center;
  margin: 173px auto 0 auto;
}


/* content box */
.about-container {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #333;
  border-radius: 20px;
  padding: 40px;
  max-width: 1100px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-heading {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.about-heading .line {
  flex-grow: 1;
  height: 2px;
  background-color: #333;
  margin-left: 20px;
}

.about-text {
  flex: 1;
  font-size: 1.1rem;
  text-align: justify;
  max-width: 650px;
}

/* SECTION HEADERS */
.section-title {
  font-size: 7.5rem;
  font-weight: bold;
  text-transform: lowercase;
}

.tech-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  padding-right: 40px;
}

.tools-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
  padding-left: 40px;
}

/* TECH CARDS */
.tech-row {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.tech-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  min-width: 160px;
  height: 60px;
  transition: transform 0.2s ease;
}

.tech-card:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
}

.tech-card img {
  width: 40px;
  height: 40px;
}

.tech-card span {
  font-weight: 500;
  font-size: 1.1rem;
}

/* TOOLS GRID */
.tech-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 3rem;
    text-align: center;
  }

  .tech-header, .tools-header {
    justify-content: center;
    padding: 0;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }
}
